<a href="https://colab.research.google.com/github/omkarmohite123/Python_String-List-Tuple-Dictionary_for_beginners/blob/main/Python_Tuple_for_Beginners.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Tuple

## What is Tuple in Python?



| Data types     | Type          |         |
| :------------: | :-----------: |:------: |
| **String**     | **immutable** |  |
| **List**       | **mutable**   |âœŽ|
| **Tuple**      | **immutable** |  |

## Creating Python Tuple

<div>
<img src="img/t0.png" width="500"/>
</div>

In [233]:
tup1 = ()
tup1

()

In [234]:
tup2=(1,2,3)
tup2

(1, 2, 3)

In [235]:
tup3=(1,2,3,'hello', '444',5.6)
tup3

(1, 2, 3, 'hello', '444', 5.6)

In [236]:
tup4 = (1,2,3,[2,3,4], (2,2,2))

tup4

(1, 2, 3, [2, 3, 4], (2, 2, 2))

In [237]:
#unpacking
my_tup = 3,4.6,'god'

my_tup

(3, 4.6, 'god')

In [238]:
a,b,c = my_tup

In [239]:
print(a)
print(b)
print(c)

3
4.6
god

In [240]:
t1 =(5)

In [241]:
t1

5

In [242]:
type(t1)

int

In [243]:
t2=(5,)

In [244]:
t2

(5,)

In [245]:
type(t2)

tuple

## Access Tuple Elements

There are various ways in which we can access the elements of a tuple.

### 1. Indexing

In [246]:
tup_st = (1,2,3,4,5,6)

tup_st[2]

3

In [247]:
tup_st

(1, 2, 3, 4, 5, 6)

In [248]:
tup_st[4]

5

In [249]:
tup_st[5]

6

In [250]:
tup_ex = ((1,2,3), (4,5,6),7,8)
tup_ex[0][1]

2

In [251]:
tup_ex = ((1,2,(3,'g','u')), [4,5,6],7,8)

In [252]:
tup_ex[0][2]

(3, 'g', 'u')

In [253]:
tup_ex[2]

7

### 2. Negative Indexing

Python allows negative indexing for its sequences.

In [254]:
tup_st

(1, 2, 3, 4, 5, 6)

In [255]:
tup_st[-2]

5

In [256]:
tup=(3,7,4,2)
print(tup[2])
print(tup[1:3])
print(tup[-3])
print(tup[-4:-2])
print(tup[-1: :-1])

4
(7, 4)
7
(3, 7)
(2, 4, 7, 3)

# Slicing

In [257]:
#tuple[start:stop:step]

tupl = ('p','r','o','g','r','a','m','i','n','g')


#elements from 2nd to 4th
print(tupl[1:4])

#elements from begining to 2nd
print(tupl[0:3])
print(tupl[:-7])

# elements 8th to end
print(tupl[7:])

#elements begining to end
print(tupl[:])

('r', 'o', 'g')
('p', 'r', 'o')
('p', 'r', 'o')
('i', 'n', 'g')
('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'n', 'g')

## Tuple Operations

### 1. Changing a Tuple

In [258]:
tup = (4,2,3,[6,5])

#tup[1] = 4 -> error tuo[1]=2

In [259]:
tup[3][0] = 7

In [260]:
tup

(4, 2, 3, [7, 5])

In [261]:
#   +  -> concatenation
#   *  -> repeat

In [262]:
tup1=(1,2,3)
tup2 = (4,5,6)

print(tup1 + tup2)

(1, 2, 3, 4, 5, 6)

In [263]:
print(("Aja" ,) * 4)

('Aja', 'Aja', 'Aja', 'Aja')

In [264]:
tup4 = (('y',)* 5)

In [265]:
tup4

('y', 'y', 'y', 'y', 'y')

In [266]:
tup5 = ((tup1)*2 + ("Ajan",))

In [267]:
tup5

(1, 2, 3, 1, 2, 3, 'Ajan')

### 2. Deleting a Tuple

In [268]:
tup3

(1, 2, 3, 'hello', '444', 5.6)

In [269]:
#del tup3[4] ->TypeError: 'tuple' object doesn't support item deletion

In [270]:
del tup3

In [271]:
#tup3 deleted

In [272]:
tup2 = (1,2,3,[4,5,6])

del tup2[3][2]

In [273]:
tup2

(1, 2, 3, [4, 5])

## Python Built-in Tuple Functions

### **`len(tuple)`** - The `len()` method returns the number of elements in the tuple.

In [274]:
t1 = (2,3,45,88)

len(t1)

4

In [275]:
t2 = (2,3,45,88,[3,4,5])

len(t2)

5

In [276]:
t3 = (2,3,45,88,[4,4,4],(7,8,9))

len(t3)

6

### **`max(tuple)`** - The `max()` method returns the elements from the tuple with maximum value. Type of element should be same otherwise complier throw `TypeError`.

In [277]:
t1

(2, 3, 45, 88)

In [278]:
max(t1)

88

In [279]:
#max(t3) -> TypeError: '>' not supported between instances of 'list' and 'tuple'

In [280]:
tup=((1,2),(3,4),(5,6),[7,8])

#max(tup) -> TypeError: '>' not supported between instances of 'list' and 'tuple'

### **`min(tuple)`** - The `min()` method returns the elements from the tuple with minimum value. Type of element should be same otherwise complier throw `TypeError`.

In [281]:
t1

(2, 3, 45, 88)

In [282]:
min(t1)

2

### **`tuple(seq)`** - The `tuple()` method converts a list of items into tuples.

In [283]:
s="Ajantha"

t1 = tuple(s)

print(t1)

('A', 'j', 'a', 'n', 't', 'h', 'a')

In [284]:
list1 = [6,7,8]

del list1[1]

In [285]:
list1

[6, 8]

In [286]:
t2 = tuple(list1)
t2

(6, 8)

In [287]:
#del t2[1] ->TypeError: 'tuple' object doesn't support item deletion